body, html, #root, .app, .container {
  width: 100%;
  height: 100%;
  
}

.BasketballLogo {
  margin: 0 auto;
  padding-left: 140px;
  padding-top: 70px;

}

.logoContainer {
  margin: 0 auto;
}

.container {
  font-size: 28px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #47A01A;
}

.container2 {
  width: 400px;
  height: 500px;
  background-color: #fff;
  border-radius: 25px;
}

.container3 {
  padding: 30px;
  justify-content: center;
}

.loginForm {
 box-sizing: border-box;
 padding: 40px;
 padding-top: 0px;
 width: 100%;
 max-width: 400px;
 text-align: center;
}

.inputField {
 padding-top: 16px;
 padding-bottom: 16px;
}

.input {
 box-sizing: border-box;
 outline: none;
 border: solid 2px #D9D9D9;
 border-radius: 5px;
 color: #292929;
 width: 100%;
 padding: 12px;
 font-size: 14px;
 background: rgba(255, 255, 255, 1);
}

.submitButton {
 padding-top: 20px;
 border-radius: 25px;
 margin: 0;
 

}

.btn {
 width: 10%;
 min-width: 120px;
 color: #fff;
 padding: 12px;
 font-size: 14px;
 border: none;
 border-radius: 4px;
 background: #47A01A;
 cursor: pointer;
}

.forgotPassword{
  color:#D9D9D9;
  font-size: 12px;
  text-align: center;
}