* {
  font-family: "Montserrat";
  font-weight: 700;
  color:black;

}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sv-text {
  width: 30%;
}

li {
  text-align: left;
}

.thank-you-message{
  font-family: "Montserrat",sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sv-root-modern .sv-container-modern__title .sv-container-modern__title h3 {
  color:black;
}
.form-container {
  background-color: #47A01A;
  border-radius: 25px;
  width: 70%;
  margin-left:auto;
  margin-right:auto;
}